<html ng-app="playsong">
<head>
<title>PlaySong</title>
<link rel="stylesheet" href="css/bootstrap.css" />
</head>
<body ng-controller="TrackController as ctrl">
	<script src="js/lib/angular.js"></script>
	<script src="js/lib/bootstrap.js"></script>
	<script src="js/app.js"></script>
	<script src="js/service.js"></script>
	<script src="js/controller.js"></script>

	<div class="well lead">Album Registration Form</div>
		<form class="form-horizontal" ng-submit="ctrl.submitAlbum()"
			name="albumForm">
			<input type="hidden" ng-model="ctrl.album.id" />

			<div class="form-group row">
				<label class="control-label col-sm-2">Name</label>
				<div class="col-sm-5">
					<input class="form-control" type="text"
						ng-model="ctrl.album.name" name="name" required /> <span
						ng-show="ctrl.name.$dirty && albumForm.name.$error.required">This
						is a required field</span>
				</div>
			</div>

			<div class="form-group row">
				<label class="control-label col-sm-2">Author</label>
				<div class="col-sm-5">
					<input class="form-control" type="text"
						ng-model="ctrl.album.author" name="author" required
						ng-minlength="3" /> <span
						ng-show="albumForm.author.$dirty && albumForm.author.$error.required">This
						is a required field</span> <span
						ng-show="albumForm.author.$dirty && albumForm.author.$error.minlength">Minimum
						length required is 3</span>
				</div>
			</div>

			<div class="form-group row">
				<label class="control-label col-sm-2">Year</label>
				<div class="col-sm-2">
					<input class="form-control" type="number"
						ng-model="ctrl.album.year" name="duration" required
						placeholder="YYYY" min="1" /> <span
						ng-show="albumForm.year.$dirty && albumForm.year.$error.required">This
						is a required field</span>
				</div>
			</div>


			<div class="form-group row">
				<div class="col-sm-offset-2 col-sm-5">
					<input class="btn btn-primary" type="submit"
						value="{{!ctrl.album.id ? 'Add' : 'Update'}}"
						ng-disabled="albumForm.$invalid">
					<button class="btn" type="button" ng-click="ctrl.resetAlbum()"
						ng-disabled="albumForm.$pristine">Reset</button>
				</div>
			</div>
		</form>


	<div class="well lead">Track Registration Form</div>
	
		<form class="form-horizontal" ng-submit="ctrl.submit()"
			name="trackForm">
			<input type="hidden" ng-model="ctrl.track.id" />

			<div class="form-group row">
				<label class="control-label col-sm-2">Name</label>
				<div class="col-sm-5">
					<input class="form-control" type="text"
						ng-model="ctrl.track.trackname" name="trackname" required /> <span
						ng-show="trackForm.trackname.$dirty && trackForm.trackname.$error.required">This
						is a required field</span>
				</div>
			</div>

			<div class="form-group row">
				<label class="control-label col-sm-2">Album</label>
				<div class="col-sm-2">
					<select class="form-control" ng-model="ctrl.track.album"
						ng-options="album as album.name for album in ctrl.albums track by album.id">
						            
						<option value="">Select Type</option>
					</select> 
				</div>
			</div>
			<div class="form-group row">
				<label class="control-label col-sm-2">Author</label>
				<div class="col-sm-2">
					<input class="form-control" type="text"
						ng-model="ctrl.track.album.author" disabled name="currentAuthor" ng-minlength="3" />
				</div>
			</div>

			<div class="form-group row">
				<label class="control-label col-sm-2">Year</label>	
				<div class="col-sm-2">
					<input class="form-control" type="text" 
						ng-model="ctrl.track.album.year" disabled name="currentYear" ng-minlength="3" />
				</div>
			</div>
			

			<div class="form-group row">
				<div class="col-sm-offset-2 col-sm-5">
					<input class="btn btn-primary" type="submit"
						value="{{!ctrl.track.id ? 'Add' : 'Update'}}"
						ng-disabled="trackForm.$invalid">
					<button class="btn" type="button" ng-click="ctrl.reset()"
						ng-disabled="trackForm.$pristine">Reset</button>
				</div>
			</div>
		</form>

		<div class="well lead">Track Listing</div>

		<form class="form-horizontal" name="filterForm">
			<div class="form-group row">
				<label class="control-label col-sm-2">Filter by Any</label>
				<div class="col-sm-5">
					<input class="form-control" type="text"
						ng-model="ctrl.filterByTrackname" name="filterByTrackname" />
				</div>
			</div>

			<div class="form-group row">
				<div class="col-sm-offset-2 col-sm-5">
					<button class="btn btn-primary" type="button"
						ng-click="ctrl.filter()">Filter</button>
					<span>Empty to get all!</span>
				</div>
			</div>
		</form>

		<table class="table table-striped">
			<thead>
				<tr>
					<th ng-click="sortType = 'id'"><u>ID.</u></th>
					<th ng-click="sortType = 'trackname'"><u>Track Name</u></th>
					<th ng-click="sortType = 'album.author'"><u>Author</u></th>
					<th ng-click="sortType = 'album.name'"><u>Album</u></th>
					<th ng-click="sortType = 'album.year'"><u>Year</u></th>
					<th width="20%"></th>
				</tr>
			</thead>
			<tbody>
				<tr ng-repeat="track in ctrl.tracks | orderBy:sortType:sortReverse"">
					<td><span ng-bind="track.id"></span></td>
					<td><span ng-bind="track.trackname"></span></td>
					<td><span ng-bind="track.album.author"></span></td>
					<td><span ng-bind="track.album.name"></span></td>
					<td><span ng-bind="track.album.year"></span></td>
					<td>
						<button type="button" ng-click="ctrl.edit(track.id)">Edit</button>
						<button type="button" ng-click="ctrl.remove(track.id)">Remove</button>
					</td>
				</tr>
			</tbody>
		</table>
</body>
</html>
